<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Disciplina Form</title>
</head>
<body>
<h1>Disciplina Form</h1>
<form th:action="@{/disciplina/novo}" th:object="${disciplina}" method="post">
    <input type="hidden" th:field="*{codigoDisciplina}" />
    <label for="nome">Nome:</label>
    <input type="text" id="nome" th:field="*{nome}" /><br/>
    <label for="aluno">Aluno:</label>
    <input type="text" id="aluno" th:field="*{aluno.nome}" /><br/>
    <label for="professor">Professor:</label>
    <input type="text" id="professor" th:field="*{professor.nome}" /><br/>
    <button type="submit">Salvar</button>
</form>
<a th:href="@{/disciplina}">Voltar</a>
</body>
</html>