<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulário de Disciplina</title>
</head>
<body>
<h1>Formulário de Disciplina</h1>
<form th:action="@{/disciplina/novo}" th:object="${disciplina}" method="post">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" th:field="*{nome}" /><br/>

    <label for="alunoNome">Nome do Aluno:</label>
    <input type="text" id="alunoNome" th:field="*{aluno.nome}" /><br/>

    <label for="professorNome">Nome do Professor:</label>
    <input type="text" id="professorNome" th:field="*{professor.nome}" /><br/>

    <button type="submit">Salvar</button>
</form>
</body>
</html>
